# 2020 Daniel Stotts

---
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4  # Width is 4 so as not to consume much of the ColumnLimit
TabWidth: 4  # Should be the same value as IndentWidth
AccessModifierOffset: -4  # Do not indent access modifiers, e.g. `public`
UseTab: ForIndentation  # Tabs are used to facilitate personal tab width preferences
Language: Cpp
Standard: Latest

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterEnum: true
    AfterExternBlock: false
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: true
    AfterUnion: true
    BeforeElse: true
    SplitEmptyFunction: false
    SplitEmptyNamespace: false
    SplitEmptyRecord: false

# Align all the things!
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AlignOperands: true

AllowAllConstructorInitializersOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeBlocks: Preserve
IndentPPDirectives: None
MaxEmptyLinesToKeep: 2
PointerAlignment: Middle
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
SpacesBeforeTrailingComments: 2
...
